.drop-down-menu {
  &__item {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 2.22;
    color: var(--white);
  }

  &__item--mod {
    font-weight: 400;
    line-height: 2;
    font-size: 16px;
    opacity: 0.7;
  }

  &__address {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.71;
    color: var(--white);
  }

  &__phone {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--white);
  }

  &__time {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.71;
    color: var(--white);
  }
}
