.main-navigation {
  padding: 50px;
  color: var(--line);

  &__title {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 48px;
    line-height: 1.17;
    color: var(--black);
    margin-bottom: 24px;
  }

  &__descripton {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--black);
    margin-bottom: 20px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    line-height: 1.6;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black);
  }

  &__link {
    padding: 12px;
  }
}
